
/* 
    Created on : 24/09/2014, 11:46:30 AM
    Author     : daniel

 
    Small devices (tablets, 768px and up) 
    @media (min-width: @screen-sm-min) { ... }

    /* Medium devices (desktops, 992px and up) 
    @media (min-width: @screen-md-min) { ... }

    /* Large devices (large desktops, 1200px and up)
    @media (min-width: @screen-lg-min) { ... }

*/


.no-close .ui-dialog-titlebar-close {display: none }

.TreeSpace
{
    position: absolute;
    width: 280px;
    bottom: 15px;
    top: 40px;
    left: 5px;
    overflow: auto;    
    border-right: 2px solid #eff0f0;
}

.WorkSpaceWithTree
{
    position: absolute;
    right: 0px;
    left: 290px;
    bottom: 15px;
    top: 40px;
    overflow: auto;
    margin: 20px;
}

.content_management{
    display: none;
    font-family: Verdana,Arial,sans-serif; 
    font-size: 14px;
}

.CM_menu_lateral
{
    left: 0px;
    top: 95px;
    bottom: 0px;
    width: 300px;
    position: absolute;
    border-right: 2px solid #dedfe0;
    overflow: auto;
    padding-top: 5px;
    padding-bottom: 20px;
    z-index: 1;
}

.div_arbol{
    position: absolute;
    width: 99%;
    height: 97%;        
}

.contentTools
{
    top:0px;
    width: 98%;
    position: absolute;
    height: 99%;
    /*background-color: black;*/
    overflow: auto;
    border:none;   
}

.contentTools img
{
    cursor:pointer;
    margin-right: 25px;
}

.contentTools input
{
    padding-right: 25px;
    padding-left: 10px;
}

.contentEngine{
    
}

.contentDetailTools
{
    position: absolute;
    display: block;
    left: 3px;
    top: 35px;
    height: 40px;
    right: 3px;
    /*border-bottom: 1px solid #4297d7;*/
    vertical-align: central;
    background-color: #c4e5f4;
}

div.IconsTools
{
    z-index: 999;
    position: absolute;
    height: 99%;
    /*width: 60%;*/
    right:  0px;
    top: 0px;
    display: block;
    overflow: auto;
}

div.SelectTools
{
    display: block;    
}

.contentDetailEngine
{
/*    position: absolute;
    display: block;
    top: 90px;
    width: 98%;
    bottom: 10px;*/
    overflow: auto;   
    /*padding-right: 15px;*/
    
}
.contentDetailTools select
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-family: Verdana,Arial,sans-serif; 
    font-size: 13px;
    width: 220px;
    height: 30px;
    border-left: .5px solid #c8d1db;
    border-top: 2px solid #c8d1db;    
    cursor: pointer;
    top: 5px;
    display: table-cell;
    margin-left: 20px;
    margin-top: 5px;
}
.contentDetailTools input
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-family: Verdana,Arial,sans-serif; 
    font-size: 13px;
    width: 220px;
    height: 25px;
    border-left: .5px solid #c8d1db;
    border-top: 2px solid #c8d1db;    
    cursor: pointer;
    top: 5px;
    display: table-cell;
    margin-left: 20px;
    margin-top: 5px;
}
.contentDetailTools img
{
    top: 2px;
    float: right;
}

.contentDetail
{
    overflow: auto; 
}

.DetailTrashDir
{
    position: absolute;
    top: 90px;
    bottom: 10px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;      
    left: 0px;
    right: 0px;
}

.DetailTrashFiles
{
    position: absolute;
    top: 90px;
    bottom: 10px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;      
    left: 0px;
    right: 0px;
}


.contentUsuarios{
    
}

input.RequiredActivo{
    border:1px solid red;
    background-color: #fff0f0;    
}

select.RequiredActivo{
    border:1px solid red;
    background-color: #fff0f0;    
}


/********************************************************************************
*                              Content Usuarios                                 *
********************************************************************************/
.table_UsersGroups tr{
    min-height: 50px;
}
table.table_UsersGroups tr td{
    min-width: 200px;
    height: 40px;
    cursor: pointer;
    vertical-align:middle;
    color: #505a94;
    font-family: Verdana,Arial,sans-serif; 
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #ebf0f5;
}
/*.table_UsersGroups tr:nth-child(odd){
  background-color:#e3e5ff;
}
.table_UsersGroups tr:nth-child(even){
background-color:#FFFFFF;
}*/

.table_UsersGroups th{
   /*background: #488abb;*/
   color:#0086e5;
   height: 15px;
   text-align: center;
   
   font-size: 14px;
   border-bottom: 1px solid #d7e1eb;
   border-right: 1px solid #d7e1eb;
   border-left: 1px solid #d7e1eb;
}

.table_UsersGroups tr.seleccionado{
    background-color: #e6f5ff;
}
.table_UsersGroups tr:hover{
    background-color: #f5faff;
}

.div_UsersFromGroups{
    font-family: Verdana,Arial,sans-serif; 
    font-size: 14px;
}
.div_UsersFromGroups table
{
    width: 100%;
    position: absolute;
}
.div_UsersFromGroups table tr td
{
    min-width: 100px;
    height: 40px;
    cursor: pointer;
    color: #505a94;
    vertical-align:middle;
    font-family: Verdana,Arial,sans-serif; 
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #ebf0f5;
}

.div_UsersFromGroups table th
{
   color:#0086e5;
   height: 15px;
   text-align: center;
   
   font-size: 14px;
   border-bottom: 1px solid #d7e1eb;
   border-right: 1px solid #d7e1eb;
   border-left: 1px solid #d7e1eb;
}

.div_UsersFromGroups table tr:hover
{
    background-color: #f5faff;
}

.div_UsersFromGroups tr.seleccionado{
    background-color: #e6f5ff;
}

.div_UsersFromGroups input
{
    position: absolute;
    bottom: 0px;
    
}

.select_empresas{
    
}

.select_repositorios
{
    
}



/********************************************************************************
*                                 Vista Previa                                  *
*********************************************************************************/
.preview
{

}

/*******************************************************************************
*                           Vista Previa del Detalle de un Archivo              *
*********************************************************************************
*/

.detalle_archivo{
    font-family: Verdana,Arial,sans-serif; 
    font-size: 14px;
    overflow: auto;
    display: none;
}
.detalle_archivo table{
    width: 95%;
    position: absolute;
    
}
.detalle_archivo table th
{
    min-height: 30px;
}
.detalle_archivo table tr
{
    width:  250px;
    height:  30px;
    
}

.detalle_archivo tr td
{
    vertical-align: middle;
}
.detalle_archivo tr td input
{
    width: 98%;
}

.detalle_archivo table tr:nth-child(odd){
  background-color:#e3e5ff;
}
.detalle_archivo table tr:nth-child(even){
background-color:#FFFFFF;
}


/****************************Detalle de Estructura *******************************/

.TablaPresentacion{
    width: 95%;
    position: absolute;
    
} 
table.TablaPresentacion th
{
    min-height: 30px;
}
table.TablaPresentacion tr
{
    width:  250px;
    height:  30px;
    
}

table.TablaPresentacion tr td
{
    vertical-align: middle;
}
table.TablaPresentacion tr td input
{
    width: 98%;
}

table.TablaPresentacion tr:nth-child(odd){
  background-color:#e3e5ff;
}
table.TablaPresentacion tr:nth-child(even){
background-color:#FFFFFF;
}



/*********************************** Refresh árbol********************** */
div.TreeRefresh
{
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 9999;
    cursor: pointer;
    top: 78px;
    left: 260px;
    /*display: none;*/
}

div.TreeRefresh img
{
    width: 20px;
    height: 20px;
}

/********************************Carga de Archivos ****************************/


/******************************CheckBox Tabla listado de archivos*****************/
.checkbox_detail
{
    cursor: pointer;
}


/******************* Mensajes de Consfirmación *******************************/
div.Mensajes
{
    font-family: Verdana,Arial,sans-serif; 
    font-size: 14px;
}

#Loading
{
    text-align: center;
}

div.loading
{
    margin: auto;
    text-align: center;
}



/********************************** Notas **************************************/
.div_notes{
    position:absolute;
    width: 100%;
    height: 100%;
}

.TextAreaNotes
{
/*    position: absolute;*/
    font-family: Verdana,Arial,sans-serif; 
    font-size: 10px;
    min-width: 450px;
    min-height: 400px;
}
.TextAreaPreviewNotes
{
    font-size: 13px;
    width: 99%;
    height: 90%;
    min-height: 300px;
}
.div_PreviewNote
{
    z-index: 999;
}


/******************************* Style Forms ***********************************/

.FormStandart
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-family: Verdana,Arial,sans-serif; 
    font-size: 13px;
    width: 220px;
    height: 25px;
    /*border-left: .5px solid #c8d1db;*/
    border: 2px solid #c8d1db;    
    top: 5px;
    display: table-cell;
    margin-top: 5px;
    margin-bottom: 5px;
}


/********************************* Consola de Usuarios *************************/
.TreeRepositoriesUserGroups 
{
    position: absolute;
    width: 300px;
    top:20px;
    bottom: 20px;
    right: 0px;
    left: 20px;
    overflow: auto;
    border: none;
    border: solid 1px #79b7e7;
}

.TreeMenusUserGroups
{
    position: absolute;
    right: 10px;
    left: 330px;
    top: 20px;
    bottom: 20px;
    overflow: auto;
    border: none;
    border: solid 1px #79b7e7;
}

.UserGroupContent
{
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    /*padding-left: 20px;
    /*padding-right: 20px;*/

    /*padding-right: 15px;*/    
}
.UserGroupContentTab
{
    position: absolute;
    top: 0px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: none;
}

table.TableStandart{
    width: 95%;
    position: absolute;
    table-layout: fixed;
    
} 
table.TableStandart th
{
    min-height: 30px;
}
table.TableStandart tr
{
    width:  250px;
    height:  30px;
    
}

table.TableStandart tr td
{
    vertical-align: middle;
}
table.TableStandart tr td input
{
    
    width: 99%;
}

table.TableStandart tr:nth-child(odd){
  background-color:#e3e5ff;
}
table.TableStandart tr:nth-child(even){
background-color:#FFFFFF;
}



/********************************** Notas del Visor PDF ******************************/
.NotesZone
{
    z-index: 999;
    width: 10px;
    position: absolute;
    top: 40px;
    bottom: 5px;
    right: 60px;    
}

.NotesZone img
{
    cursor: pointer;
}

/************************* Tablas dentro de acordeones **************************/

.TableInsideAccordion
{
    position: relative;
    width: 100%;
}

table.TableInsideAccordion tr
{
    min-height: 70px;
}

table tr.TableInsideAccordionHoverWithoutClass
{    
    color: #0086e5;
    background-color: #d9efff;
}
table tr.TableInsideAccordionHoverWithClass
{    
    color: white;
}
 
table tr.TableInsideAccordionFocus
{
    background-color: #d9efff;
    color: #0086e5;
}

table tr.TableInsideAccordionActive
{
    background-color: #0086e5;
    color:white;
}

/*******************************************************************************
                             Consolas de Administración
*******************************************************************************/


.menu_lateral{
    width: 200px;
    height: 98%;
    position: absolute;
    left: 0px;
    border-right: 2px solid #dedfe0;
    overflow: auto auto;
    padding-right: 7px;
    padding-left: 4px;
}

.menu_lateral table tr{
    cursor: pointer;    
}

.work_space
{   
    height: 98%;
    position: absolute;
    left: 210px;
    right: 0px;
    overflow: auto;
   padding-right: 5px;
   font-size: 13px;
   margin-right: 7px;
}

.work_space label{
    
}


/*******************************************************************************
                                    Window's'
*******************************************************************************/

.titulo_ventana
{
    width: 100%;
    height: 20px;
    top: 10px;
    border-bottom: 1.5px dashed #d8e1eb;
    margin-bottom: 20px;
    font-family: Verdana,Arial,sans-serif; 
    font-size: 15px;  
    color: #0086e5;

}

.visor
{
    width: 98%;
    height: 98%;
}

.PlaceWaiting
{
    bottom: 3px;
    right: 2px;
    position: absolute;
}

div.Loading
{
    bottom: 2px;
    right: 2px;
    position: absolute;
}

.RowSelected
{
    background-color: #d9efff;
    color:white;    
}

.RowDeselected
{
    color: black;
    background-color:white;
}

/*******************************************************************************
                            Visor de imagénes
******************************************************************************+*/

.viewerImageNavBar{
    height: 25px;
    position: absolute;
    left: 10px;
    right: 10px;
}

.viewerImageBody{
    top: 55px;
    bottom: 0px;
    width: 100%;
    position: absolute;
}

.viewer
{
    width: 99%;
    height: 99%;
    border: 1px solid black;
    position: absolute;
}

.wrapper
{
    overflow: hidden;
}

.pageDownIcon{
  background: url(../img/toolbarButton-pageDown.png) no-repeat;
  width: 20px;
  height: 20px;
}
.pageUpIcon {
  background: url(../img/toolbarButton-pageUp.png) no-repeat;
      width: 20px;
    height: 20px;
}
.notesIcon{
    background: url(../img/secondaryToolbarButton-Note.png) no-repeat;
    width: 20px;
    height: 20px;
    
}


.navbar-custom {
  background-color: #bcdcea;
  border-color: #a3cfe2;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e3f0f6), to(#bcdcea));
  background-image: -webkit-linear-gradient(top, #e3f0f6, 0%, #bcdcea, 100%);
  background-image: -moz-linear-gradient(top, #e3f0f6 0%, #bcdcea 100%);
  background-image: linear-gradient(to bottom, #e3f0f6 0%, #bcdcea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3f0f6', endColorstr='#ffbcdcea', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #1b437d;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #122d53;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #1b437d;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #a3cfe2;
}
.navbar-custom .navbar-nav > li > a {
  color: #1b437d;
  border-left: 1px solid #a3cfe2;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #317ec4;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #317ec4;
  background-color: #a3cfe2;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#a3cfe2), to(#cae3ee));
  background-image: -webkit-linear-gradient(top, #a3cfe2, 0%, #cae3ee, 100%);
  background-image: -moz-linear-gradient(top, #a3cfe2 0%, #cae3ee 100%);
  background-image: linear-gradient(to bottom, #a3cfe2 0%, #cae3ee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa3cfe2', endColorstr='#ffcae3ee', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #a1cee1;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #317ec4;
  border-bottom-color: #317ec4;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #a3cfe2;
  color: #317ec4;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #317ec4;
  border-bottom-color: #317ec4;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #1b437d;
  border-bottom-color: #1b437d;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #1b437d;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #317ec4;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #317ec4;
    background-color: #a3cfe2;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #1b437d;
}
.navbar-custom .navbar-link:hover {
  color: #317ec4;
span.archivalFondoIcon{
    background: url(../img/archival/fondo-li.png) no-repeat;
    width: 24px;
    height: 24px;   
    color: red;
    display: inline-block;
}

span.archivalSectionIcon{
    background: url(../img/archival/seccion-li.png) no-repeat;
    width: 24px;
    height: 24px;   
    color: red;
    display: inline-block;
}

span.archivalSerieIcon{
    background: url(../img/archival/serie-li.png) no-repeat;
    width: 24px;
    height: 24px;   
    color: red;
    display: inline-block;
}

span.archivalAdministrativeUnitIcon{
    background: url(../img/archival/department.png) no-repeat;
    width: 24px;
    height: 24px;   
    color: red;
    display: inline-block;
    
}

/*@media print {
  body * {
    visibility: hidden;
  }
  div.expedientTagDiv{
      position: absolute;
      top: 400px;
      width: 30%;
      height: 30%;
      background-color: red;
  }
  
  div.expedientTagDiv .form-group{
      margin-bottom: 1px;
  }
  div.expedientTagDiv .input-sm{
      height: 18px;
  }
  div.expedientTagDiv .form-control{
      width:45%;
      font-size: 9px; 
      border: none;
  }
}*/
